* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
}

h1 {
  text-align: center;
}

section {
  background-color: gray;
  border: 2px solid black;
  overflow: hidden;
}

h2 {
  border: 2px solid black;
  width: 10em;
  text-align: center;
  float: right;
  margin-top: -2px;
  margin-right: -2px;
}

h2.name1 {
  background-color: pink;
}

h2.name2 {
  background-color: red;
  color: white;
}

h2.name3 {
  background-color: yellow;
}

p {
  clear: both;
  margin-left: 0.5em;
  height: 6em;
}
